<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IncomeDescribe</key>
	<array>
		<string>工资</string>
		<string>小费</string>
		<string>天上掉下来的</string>
		<string>美女给的</string>
		<string>老妈给的</string>
		<string>中奖</string>
		<string>捡到的</string>
		<string>不知哪来的</string>
		<string>凑字数的</string>
		<string>再凑一个</string>
	</array>
	<key>CostDescribe</key>
	<array>
		<string>吃饭</string>
		<string>喝水</string>
		<string>打车</string>
		<string>给美女买花</string>
		<string>话费</string>
		<string>加油</string>
		<string>车保养</string>
		<string>买花</string>
		<string>买衣服</string>
		<string>买裤子</string>
		<string>掉了</string>
		<string>打牌输了</string>
		<string>被偷了</string>
		<string>被抢了</string>
		<string>不知放哪里去了</string>
		<string>凑字数</string>
		<string>1</string>
		<string>2</string>
	</array>
</dict>
</plist>
